<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  #f="ngForm"
  (ngSubmit)="submitForm(f)"
>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="user">
        <input
          type="email"
          nz-input
          formControlName="email"
          placeholder="Email"
        />
      </nz-input-group>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="email.errors.required">
          Name is required.
        </div>
        <div *ngIf="email.errors.email">
          Enter valid email.
        </div>
        <div *ngIf="email.errors.INVALID_USER">
          {{ email.errors.INVALID_USER }}
        </div>
        <div *ngIf="email.errors.USER_NOT_FOUND">
          {{ email.errors.USER_NOT_FOUND }}
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="message" class="alert alert-success" role="alert">
    {{ message }}
  </div>
  <button
    nz-button
    nz-type="primary"
    class="login-form-button login-form-margin ant-btn ant-btn-primary"
  >
    Send request
  </button>
  <div class="w-100">Or</div>

  <a [routerLink]="['../register']"> register now! </a>
</form>
