.header-actions {
  position: relative;
  top: 1px;
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 2px solid transparent;
  margin-top: -1px;
  margin-bottom: 16px;
}

.header-actions {
  margin-left: 20px;
}
