<span [ngSwitch]="mode">
  <div *ngSwitchCase="'resetPassword'">
    <form
      nz-form
      [formGroup]="confirmPasswordResetForm"
      class="login-form"
      #f="ngForm"
      (ngSubmit)="confirmPasswordResetFormSubmit(f)"
    >
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="text"
              nz-input
              formControlName="newPassword"
              placeholder="Password"
            />
          </nz-input-group>
          <div
            *ngIf="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="newPassword.errors.required">
              Password is required.
            </div>
            <div *ngIf="newPassword.errors.pattern">
              Password is weak. It must have one special character, one
              uppercase and lowercase and one number. Length will be 8
              characters minimum.
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="message" class="alert alert-success" role="alert">
        {{ message.message }}
        <a routerLink="../">Login here.</a>
      </div>
      <button
        nz-button
        nz-type="primary"
        class="login-form-button login-form-margin ant-btn ant-btn-primary"
      >
        Reset
      </button>
    </form>
  </div>
  <div *ngSwitchCase="'recoverEmail'">
    {{ this.recoverEmail() }}
    <ng-container *ngIf="this.message.error">
      <div class="alert alert-danger">
        {{ this.message.message }}
      </div>
    </ng-container>
    <ng-container *ngIf="!this.message.error">
      <div class="alert alert-success">
        {{ this.message.message }}
      </div>
    </ng-container>
  </div>

  <div *ngSwitchCase="'verifyEmail'">
    <div
      *ngIf="message"
      class="alert"
      [ngClass]="{
        'alert-success': !message.error,
        'alert-danger': message.error
      }"
      role="alert"
    >
      {{ message.message }}
    </div>
  </div>
  <p *ngSwitchDefault></p>
</span>
