<section id="about">
  <div
    style="
      padding-top: 210px;
      padding-bottom: 180px;
      background: url('/assets/img/5.jpg') center center;
    "
  >
    <div class="header-text mb-0">
      <div class="container">
        <h1 class="text-white">About Us</h1>
        <h5 class="text-white">
          Read about us, our company &amp; our passion!
        </h5>
      </div>
    </div>
  </div>
</section>
<section id="about" class="pt-5 pb-5" style="background-color: #f2f8ff;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>Rentify - Rent cars at doorstep!</h1>
        <p class="lead">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered by injected humour.
        </p>
        <p class="leading-Automatic">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less Automatic distribution
          of letters, as opposed to using 'Content here, content here', making
          it look like readable English. or randomised. Words which don't look
          even slightly believable. If you are going to use a passage of Lorem
          Ipsum, you need to as necessary All the Lorem Ipsum generators on the
          Internet tend to repeat.
        </p>
        <img src="http://xdemos.store/xpedia/images/seg.png" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="/assets/img/6.jpg" class="img-fluid shadow" />
      </div>
    </div>
  </div>
</section>
<section style="background-image: url('/assets/img/counter.jpg');">
  <div class="container">
    <div class="row pt-5 pb-4 text-center text-white">
      <div class="col-12">
        <h2 class="text-white">
          In 2019, we made 23,400 transactions.
        </h2>
        <p class="lead">We are growing day by day!</p>
      </div>
    </div>
  </div>
</section>
