<section
  id="breadcrumb"
  class="bg-primary text-white"
  style="padding: 100px 100px 150px 100px;"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Cars</h1>
        <p class="lead">
          Find your dream cars here with awesome filtering options.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="cars">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div
          class="filter-container bg-white p-3 shadow fixed sticky-top"
          style="z-index: 9;"
        >
          <h2>Filter</h2>
          <form action="#" method="post">
            <div class="form-group">
              <label for="make">Brand</label>
              <select
                class="form-control form-control-sm"
                name="brand"
                [(ngModel)]="brand"
                (ngModelChange)="brandFilter()"
              >
                <option value="" selected="">Select one</option>
                <option *ngFor="let value of models" [value]="value">{{
                  value
                }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="model">Year</label>
              <select
                class="form-control form-control-sm"
                name="model"
                id="model"
                [(ngModel)]="year"
                (ngModelChange)="yearFilter()"
              >
                <option value="">Select one</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
                <option>2010</option>
                <option>2009</option>
                <option>2008</option>
                <option>2007</option>
                <option>2006</option>
                <option>2005</option>
                <option>2004</option>
                <option>2003</option>
                <option>2002</option>
                <option>2001</option>
                <option>2000</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fuel">Fuel Type</label>
              <select
                class="form-control form-control-sm"
                name="fuel"
                [(ngModel)]="fuelType"
                (ngModelChange)="fuelFilter()"
              >
                <option value="">Select one</option>

                <option>Diesel</option>
                <option>Petrol</option>
                <option>Gas</option>
              </select>
            </div>
            <div class="form-group">
              <label for="transmission">Transmission</label>
              <select
                class="form-control form-control-sm"
                name="transmission"
                id="transmission"
                [(ngModel)]="transmission"
                (ngModelChange)="transmissionfilter()"
              >
                <option value="">Select one</option>
                <option>Manual</option>
                <option>Automatic</option>
                <option>Semi-Automatic</option>
              </select>
            </div>
            <div class="form-group">
              <label for="body">Body Style</label>
              <select
                class="form-control form-control-sm"
                name="body"
                id="body"
                [(ngModel)]="bodyStyle"
                (ngModelChange)="bodyFilter()"
              >
                <option value="">Select one</option>
                <option>Sedan</option>
                <option>SUV</option>
                <option>Van</option>
                <option>Couple</option>
              </select>
            </div>
            <div class="form-group">
              <label for="price">Price Range</label>

              <nz-slider
                id="price"
                [nzMin]="0"
                [nzMax]="10000"
                nzRange
                [nzStep]="1000"
                [(ngModel)]="priceRange"
                (ngModelChange)="priceRanteFilter()"
                [ngModelOptions]="{ standalone: true }"
                [nzTooltipVisible]="'always'"
                [nzMarks]="marks"
              ></nz-slider>
            </div>

            <div class="form-group">
              <label for="citieList">City</label>
              <select
                [(ngModel)]="searchCity"
                (ngModelChange)="cityFilter()"
                class="custom-select"
                name="city"
                id="city"
              >
                <option value="" selected="">Select one</option>
                <option
                  *ngFor="let city of uniqueCityList$ | async"
                  [value]="city"
                  >{{ city }}</option
                >
              </select>
            </div>
            <div class="form-group">
              <label for="color">Color</label>
              <select
                *ngIf="this.availableColor$ | async as colors"
                [(ngModel)]="color"
                (ngModelChange)="colorFilter()"
                class="custom-select"
                name="color"
                id="color"
              >
                <option value="">Select one</option>
                <option *ngFor="let item of colors" [value]="item">{{
                  item | uppercase
                }}</option>
              </select>
            </div>
          </form>
          <a
            class="btn btn-danger mt-2 mb-5 text-white"
            (click)="reset()"
            role="button"
            >Clear filters</a
          >
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 p-5">
        <div class="row border-bottom mb-3 pb-2">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Here you go!</h3>
            <strong *ngIf="cars$ | async as cars">{{ cars?.length }}</strong>
            cars showing.
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <form>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sort">Sort By</label>
                    <select
                      class="custom-select"
                      name="sort"
                      [(ngModel)]="sortByProp"
                      id="sort"
                      (ngModelChange)="sortBy()"
                    >
                      <option value="price">Price</option>
                      <option value="year">Make</option>
                      <option value="mileage">Mileage</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="show">Show</label>
                    <select
                      class="custom-select"
                      [(ngModel)]="noOfCars"
                      (ngModelChange)="limit()"
                      name="show"
                      id="show"
                    >
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <ng-container *ngFor="let car of cars$ | async">
          <div class="row border-bottom pb-2 mb-3">
            <div class="row vehicle-row">
              <div class="col-md-4">
                <div class="img-fluid">
                  <img [src]="car.gallery[0]" class="img-thumbnail" />
                </div>
              </div>
              <div class="col-md-8">
                <div class="meta">
                  <a class="display-4" [routerLink]="['/fleet', car.id]">
                    <span class="text-muted">{{ car.year }}</span>
                    {{ car.brand }} {{ car.model }}
                  </a>
                  <span class="price float-right">
                    From
                    <strong>{{ car?.price }} PKR</strong>
                    per day
                  </span>

                  <ul class="specs">
                    <li>{{ car.exteriorColor }}</li>
                    <li>{{ car.condition }}</li>
                    <li>{{ car.bodyStyle }}</li>
                    <li>{{ car.transmission }}</li>
                    <li>{{ car.mileage }} KM/L</li>
                    <li>{{ car.fuelType }}</li>
                    <li *ngFor="let item of car.locations">
                      <i aria-hidden="true" class="fa fa-map-marker"></i>
                      {{ item }}
                    </li>
                  </ul>
                  <button
                    type="button"
                    (click)="checkout(car)"
                    class="float-left btn btn-primary"
                  >
                    Book Now
                  </button>

                  <ng-container
                    *ngIf="checkForCompareExistence(car); else elseTemplate"
                  >
                    <a
                      (click)="addOrRemoveToCompare(car)"
                      class="btn btn-secondary float-right text-white"
                    >
                      <i class="fa fa-times text-white" aria-hidden="true"></i>
                    </a>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <a
                      (click)="addOrRemoveToCompare(car)"
                      class="btn btn-danger float-right text-white"
                    >
                      <i
                        class="fa fa-list-ul text-white"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </ng-template>
                  <ng-container
                    *ngIf="checkForFavExistence(car); else notfound"
                  >
                    <a
                      style="margin-right: 10px;"
                      (click)="doOrUndoFav(car)"
                      type="button"
                      class="fav-button btn btn-danger float-right"
                      ><i class="fa fa-heart text-white"></i
                    ></a>
                  </ng-container>
                  <ng-template #notfound>
                    <a
                      (click)="doOrUndoFav(car)"
                      class="btn btn-danger float-right text-white"
                      style="margin-right: 10px;"
                    >
                      <i
                        class="fa fa-heart-o text-white"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
