.login-form {
  background: rgb(245, 245, 245);
  padding: 50px;
  max-width: 400px !important;
  border: 1px dashed rgb(222, 222, 222);
  margin-top: 80px !important;
  margin-bottom: 50px !important;
  margin: auto;
}
